
.card-header {
  color:blue;
  font-weight: bold;
}

h5{
  font-weight: bold;
  
}

.bigcard {
  width: 400px;
  margin-left: 20px;
}

#posts {
  align-items: center;
}

#commentTime{
  font-size: xx-small;
}